/* =Reset default browser CSS. Based on work by Eric Meyer.
-------------------------------------------------------------- */

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
	border: 0;
	font-family: inherit;
	font-size: 100%;
	font-style: inherit;
	font-weight: inherit;
	margin: 0;
	outline: 0;
	padding: 0;
	vertical-align: baseline;
}
:focus {/* remember to define focus styles! */
	outline: 0;
}
body {
	background: #fff;
	line-height: 1;
}
ol, ul {
	list-style: none;
}
table {/* tables still need 'cellspacing="0"' in the markup */
	border-collapse: separate;
	border-spacing: 0;
}
caption, th, td {
	font-weight: normal;
	text-align: left;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: "";
}
blockquote, q {
	quotes: "" "";
}
a img {
	border: 0;
}
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}

body.friends-page {
	font-family: sans-serif;
	line-height: 1.15;
	-ms-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
	margin: 0;
	background-color: #fff;
	color: #333;
	padding: 0 2em;
}

body.friends-page div.container {
	display: flex;
	flex-flow: row wrap;
}

@media only screen and (max-width: 600px) {
	body.friends-page div.container {
		flex-flow: column wrap;
	}
}

body.friends-page section.posts {
	padding: 2em;
	flex: 7;
}

body.friends-page nav.friends-sidebar {
	padding: 2em;
	flex: 1;
}

body.friends-page img, body.friends-page video, body.friends-page textarea, body.friends-page input {
	height: auto;
	max-width: 95%;
}

body.friends-page form button {
	background-color: #222;
	border: 0;
	border-radius: .25em;
	font-
	box-shadow: none;
	color: #fff;
	cursor: pointer;
	display: inline-block;
	font-size: 14px;
	font-weight: bold;
	padding: .5em 1em;
	text-shadow: none;
	transition: background 0.2s;
}

.friends-post-inline input, .friends-post-inline textarea, .friends-sidebar input, .friends-sidebar textarea {
	color: #666;
	background: #fff;
	border: 1px solid #bbb;
	border-radius: 3px;
	display: block;
	padding: 0.7em;
	width: 100%;
	margin: 0;
}

.friends-post-inline select, .friends-sidebar select {
	border: 1px solid #bbb;
	border-radius: 3px;
	height: 3em;
	max-width: 100%;
}

.friends-post-inline input:focus, .friends-post-inline textarea:focus {
	color: #222;
	border-color: #333;
}

body.friends-page pre {
	max-width: 100%;
	overflow: auto;
}

body.friends-page form input, body.friends-page form input:focus, body.friends-page form textarea:focus, body.friends-page form textarea, .friends-post-inline form button {
	color: #222;
	border: 1px solid grey;
}

body.friends-page div.friends-topbar {
	padding-bottom: 2em;
}

body.friends-page img.avatar {
	border-radius: 100%;
}

body.friends-page div.friends-widget {
	margin-bottom: 2em;
}

body.friends-page div.friends-widget h4 a {
	color: #222;
	text-decoration: none;
}

body.friends-page div.friends-widget a.open-requests {
	font-size: 90%;
	font-weight: normal;
}

body.friends-page div.friends-widget ul {
	margin: .5em 0 1em 0;
	padding: 0;
}

body.friends-page div.friends-widget h5 {
	margin-bottom: .5em;
}

body.friends-page div.friends-widget h5 a {
	color: #222;
	text-decoration: none;
}

body.friends-page div.friends-widget ul li {
	list-style: none;
	margin: 0 0 .5em 0;
	padding: 0;
}

body.friends-page a, body.friends-page a:link, body.friends-page a:active {
	color: #33bbe3;
}

body.friends-page a:hover {
	color: #78dcfa;
}

body.friends-page a:visited {
	color: #00aadc;
}

body.friends-page section.posts article.hentry:before {
	display: none;
}

body.friends-page section.posts article.hentry {
	border-bottom: 1px solid #87a6bc;
	padding: 0 0 1em 0;
	margin: 0 0 1em 0;
}

body.friends-page section.posts article.hentry div.entry-content, body.friends-page section.posts article.hentry header.entry-header, body.friends-page section.posts article.hentry h4.entry-title {
	font-family: "Noto Serif", Georgia, "Times New Roman", Times, serif;
	margin: 0 0 1em 0;
}

body.friends-page section.posts article.hentry header.entry-header {
	display: flex;
	font-size: 88%;
	line-height: 1.4;
}

body.friends-page section.posts article.hentry header.entry-header div.avatar {
	margin-right: .5em;
}

body.friends-page section.posts article.hentry h4.entry-title {
	font-size: 130%;
	line-height: 1.4;
	margin: 0 0 1em 0;
	text-align: left;
}

body.friends-page section.posts article.hentry header.entry-header:after {
	display: none;
}

body.friends-page section.posts article.hentry header.entry-header a {
	text-decoration: none;
}

body.friends-page button.friends-trash-post, body.friends-page button.friends-untrash-post {
	float: right;
	border: 0;
	background: transparent;
	color: #333;
	cursor: pointer;
	font-size: 90%;
}

body.friends-page section.posts article.hentry h4.entry-title a {
	text-decoration: none;
	color: #333;
}

body.friends-page section.posts article.hentry div.entry-content {
	float: none;
	line-height: 1.5;
	font-size: 110%;
	word-break: break-word;
}

body.friends-page section.posts article.hentry div.entry-content p {
	margin: 0;
	margin-bottom: .5em;
}

body.friends-page section.posts article.hentry footer.entry-meta {
	font-size: 1.5em;
	display: flex;
	justify-content: flex-end;
}

button.friends-action, body.friends-page section.posts article.hentry footer.entry-meta button {
	font-size: 14px;
	border: 0;
	background-color: #fff;
	cursor: pointer;
	color: #87a6bc;
	padding: 4px;
	margin: 3px;
	font-weight: normal;
	border: 1px solid #cccccc;
	border-radius: 4px;
	line-height: 20px;
	box-shadow: 0 1px 0 rgba(0, 0, 0, 0.08);
	height: 30px;
}

button.friends-action:hover, body.friends-page section.posts article.hentry footer.entry-meta button:hover {
	border-color: #cccccc;
	background-color: #fff;
}

button.friends-action:focus, body.friends-page section.posts article.hentry footer.entry-meta button:focus {
	outline: none;
}

button.friends-action span {
	font-size: 18px;
	vertical-align: top;
}
button.friends-action.pressed, body.friends-page section.posts article.hentry footer.entry-meta button.pressed {
	color: #f0821e;
}

button.new-reaction span {
	font-family: dashicons;
	vertical-align: middle;
}

#friends-reaction-picker {
	display: none;
	position: absolute;
	border: 1px solid #999999;
	box-shadow: 2px 2px 5px #cccccc;
	border-radius: .25em;
	background-color: #fff;
	padding: 1em;
	max-width: 50%;
	max-height: 20%;
	overflow: auto;
}

#friends-reaction-picker button {
	padding: .2em;
	margin: 0;
	font-size: 18px;
	background-color: #fff;
	border: 0;
	cursor: pointer;
	z-index: 999999;
}

#friends-reaction-picker button:focus {
	outline: none;

}

#friends-reaction-picker .spinner {
	background-size: 16px 16px;
	opacity: .7;
	width: 16px;
	height: 16px;
}

#friends-recommendation-form {
	display: none;
	position: absolute;
	border: 1px solid #999999;
	box-shadow: 2px 2px 5px #cccccc;
	border-radius: .25em;
	background-color: #fff;
	padding: 1em;
	width: 20em;
}

#friends-recommendation-form fieldset {
	margin-bottom: 1em;
}

p.friend-recommendation {
	font-style: italic;
}

.only-friends {
	background-color: #efe;
	padding-left: .5em;
}

.not-friends {
	background-color: #fee;
	padding-left: .5em;
}

.only-friends .watermark, .not-friends .watermark {
	float: right;
	padding-top: .5em;
	padding-right: .5em;
	font-size: 80%;
	color: #ccc;
}

ul.friend-posts img.avatar {
	vertical-align: middle;
	margin-right: .3em;
}
