.friends-notice b.headline {
	font-size: 110%;
}
#friends-welcome-panel {
	padding: 10px;
	padding-top: 23px;
}
.friends-notice b.headline:before, #friends-welcome-panel h2:before {
	content: "\f307";
	color: #82878c;
	font-family: dashicons;
	speak: none;
	display: inline-block;
	padding: 0 5px 0 0;
	position: relative;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	text-decoration: none!important;
	vertical-align: top;
}

#dashboard_right_now li a.friends:before {
	content: "\f307";
	padding: 0 5px 0 0;
}

#dashboard_right_now li a.friend-requests:before {
	content: "\f336";
	padding: 0 5px 0 0;
}

#dashboard_right_now li a.subscriptions:before {
	content: "\f123";
	padding: 0 5px 0 0;
}

#dashboard_right_now li a.friend-posts:before {
	content: "\f105";
	padding: 0 5px 0 0;
}

tr .row-actions span.friends {
	display: none;
}

tr:hover .row-actions span.friends {
	display: inline;
}

table.feed-table th.checkbox {
	width: 30px;
}

table.feed-table td {
	padding: 0;
}

#available-widgets [class*="friends-widget"] .widget-title:before { content: "\f307"; }

a.friends-auth-link span.dashicons, button.friends-auth-link span.dashicons {
	color: #32c170;
	margin-left: 6px;
}

a.explanation-friends-auth-link:hover, a.friends-auth-link :hover, a.friends-auth-link:hover span.dashicons, button.friends-auth-link:hover span.dashicons {
	color: #32c170;
}

tr.lastlog td {
	padding: .8em 1em;
	margin-bottom: 2em;
}

.friends-plugin-installer .plugin-card .desc, .friends-plugin-installer .plugin-card .name {
	margin: auto;
}
