body.friends-page {
	font-family: sans-serif;
	line-height: 1.15;
	-ms-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
	margin: 0;
	background-color: #fff;
	color: #333;
}

.friends-page div.container {
	display: flex;
	flex-flow: row wrap;
}

@media only screen and (max-width: 600px) {
	.friends-page div.container {
		flex-flow: column wrap;
	}
}

.friends-page section.posts {
	padding: 2em;
	flex: 7;
}

.friends-page nav.friends-sidebar {
	padding: 2em;
	flex: 1;
}

.friends-page img, .friends-page video, .friends-page textarea, .friends-page input {
	height: auto;
	max-width: 95%;
}

.friends-page button {
	background-color: #222;
	border: 0;
	border-radius: .25em;
	font-
	box-shadow: none;
	color: #fff;
	cursor: pointer;
	display: inline-block;
	font-size: 14px;
	font-weight: bold;
	padding: .5em 1em;
	text-shadow: none;
	transition: background 0.2s;
}

.friends-post-inline input, .friends-post-inline textarea, .friends-sidebar input, .friends-sidebar textarea {
	color: #666;
	background: #fff;
	border: 1px solid #bbb;
	border-radius: 3px;
	display: block;
	padding: 0.7em;
	width: 100%;
	margin: 0;
}

.friends-post-inline selectm, .friends-sidebar select {
	border: 1px solid #bbb;
	border-radius: 3px;
	height: 3em;
	max-width: 100%;
}

.friends-post-inline input:focus, .friends-post-inline  textarea:focus {
	color: #222;
	border-color: #333;
}

.friends-page pre {
	max-width: 100%;
	overflow: auto;
}


.friends-page input, .friends-page textarea, .friends-post-inline button {
	border: 1px solid grey;
}

.friends-page div.friends-topbar {
	padding-bottom: 2em;
}

.friends-page img.avatar {
	border-radius: 100%;
}

.friends-page div.friends-widget {
	margin-bottom: 2em;
}

.friends-page a, .friends-page a:link, .friends-page a:active {
	color: #33bbe3;
}

.friends-page a:hover {
	color: #78dcfa;
}

.friends-page a:visited {
	color: #00aadc;
}

.friends-page article {
	border-bottom: 1px solid #87a6bc;
	padding-bottom: 1em;
	margin-bottom: 1em;
}

.friends-page article div.entry-content, .friends-page article h4.entry-title {
	font-family: "Noto Serif", Georgia, "Times New Roman", Times, serif;
}

.friends-page article header.entry-header {
	display: flex;
	font-size: 88%;
	line-height: 1.4;
}

.friends-page article header.entry-header div.avatar {
	margin-right: .5em;
}

.friends-page article h4.entry-title {
	font-size: 130%;
	line-height: 1.4;
	margin: .5em 0;
}

.friends-page article header.entry-header a {
	text-decoration: none;
}

.friends-page article h4.entry-title a {
	text-decoration: none;
	color: #333;
}

.friends-page article div.entry-content {
	line-height: 1.5;
	font-size: 110%;
	word-break: break-word;
}

.friends-page article div.entry-content p {
	margin: 0;
	margin-bottom: .5em;
}

.friends-page article footer.entry-meta {
	font-size: 1.5em;
}

.friends-page article footer.entry-meta {
	display: flex;
	justify-content: flex-end;
}

.friends-page article footer.entry-meta button {
	border: 0;
	background-color: #fff;
	cursor: pointer;
	color: #87a6bc;
	padding: 2px;
	font-weight: normal;
}

.friends-page article footer.entry-meta div.friend-reactions {
	margin-bottom: 1px;
}
.friends-page article footer.entry-meta div.friend-reactions button {
	font-size: 18px;
}
.friends-page article footer.entry-meta button.pressed {
	color: #f0821e;
}
