
.only-friends {
	background-color: #efe;
	padding-left: .5em;
}

.not-friends {
	background-color: #fee;
	padding-left: .5em;
}

.only-friends .watermark, .not-friends .watermark {
	float: right;
	padding-top: .5em;
	padding-right: .5em;
	font-size: 80%;
	color: #ccc;
}

ul.friend-posts img.avatar {
	vertical-align: middle;
	margin-right: .3em;
}
