<?xml version="1.0"?>
<phpunit
	bootstrap="tests/bootstrap.php"
	backupGlobals="false"
	colors="true"
	stderr="true"
	convertErrorsTo\Exceptions="true"
	convertNoticesTo\Exceptions="true"
	convertWarningsTo\Exceptions="true"
	>
	<testsuites>
		<testsuite name="default">
			<directory prefix="test-" suffix=".php">./tests/</directory>
		</testsuite>
	</testsuites>
</phpunit>
